---
title: Identity Verification
description: Magic Quadrant for Identity Verification
hide_menu: true
---

# Identity Verification

Identity verification tools are expanding beyond their original consumer fraud and compliance purposes and are increasingly deployed in workforce use cases. This Magic Quadrant evaluates 12 vendors to help leaders compare options and find the best fit for their identity verification requirements.

## Market Definition

Gartner defines identity verification (IDV) as the combination of activities during a digital interaction that brings a real-world identity claim within organizational risk tolerances. Identity verification capabilities are delivered as SaaS or installable software, and provide assurance that a real-world identity exists through assessment of a government-issued photo identity document, and that the individual claiming the identity is its true owner and is genuinely present during the digital interaction.

The purpose of identity verification is to establish confidence in the real-world identity of a person during a digital interaction when curated credentials do not exist, are not available, ordo not provide sufficient assurance.

## Report 2026

Here is a summary of the vendors featured in the Gartner magic quadrant **2026** report. <br/>For the full analysis and detailed insights, you can read the report
<a href="/docs/2026/identity-verification.pdf" target="_blank" rel="noopener noreferrer">here</a>
and view the magic quadrant graphic
<a href="/docs/2026/identity-verification.png" target="_blank" rel="noopener noreferrer">here</a>.

| Market Status   | Market Vendor                                                      |
| --------------- | ------------------------------------------------------------------ |
| `Leader`        | [Persona](/vendors/persona.md)                                     |
| `Leader`        | [Incode](/vendors/incode.md)                                       |
| `Leader`        | [1Kosmos](/vendors/1kosmos.md)                                     |
| `Leader`        | [Socure](/vendors/socure.md)                                       |
| `Visionary`     | [Veridas](/vendors/veridas.md)                                     |
| `Visionary`     | [Veriff](/vendors/veriff.md)                                       |
| `Visionary`     | [Nametag](/vendors/nametag.md)                                     |
| `Niche Player`  | [ZOLOZ](/vendors/zoloz.md)                                         |
| `Niche Player`  | [TrustDecision](/vendors/trustdecision.md)                         |
| `Niche Player`  | [Regula](/vendors/regula-forensics.md)                             |
| `Niche Player`  | [LexisNexis Risk Solutions](/vendors/lexisnexis-risk-solutions.md) |
| `Challenger`    | [Daon](/vendors/daon.md)                                           |

## Report 2025

Here is a summary of the vendors featured in the Gartner magic quadrant **2025** report. <br/>For the full analysis and detailed insights, you can read the report
<a href="/docs/2025/identity-verification.pdf" target="_blank" rel="noopener noreferrer">here</a>
and view the magic quadrant graphic
<a href="/docs/2025/identity-verification.png" target="_blank" rel="noopener noreferrer">here</a>.

| Market Status   | Market Vendor                                    |
| --------------- | ------------------------------------------------ |
| `Leader`        | [Persona](/vendors/persona.md)                   |
| `Leader`        | [Incode](/vendors/incode.md)                     |
| `Leader`        | [Sumsub](/vendors/sumsub.md)                     |
| `Leader`        | [Daon](/vendors/daon.md)                         |
| `Leader`        | [Socure](/vendors/socure.md)                     |
| `Visionary`     | [Entrust](/vendors/entrust.md)                   |
| `Visionary`     | [Veridas](/vendors/veridas.md)                   |
| `Niche Player`  | [TrustDecision](/vendors/trustdecision.md)       |
| `Niche Player`  | [ZOLOZ](/vendors/zoloz.md)                       |
| `Niche Player`  | [Regula Forensics](/vendors/regula-forensics.md) |
| `Challenger`    | [1Kosmos](/vendors/1kosmos.md)                   |

## Report 2024

Here is a summary of the vendors featured in the Gartner magic quadrant **2024** report. <br/>For the full analysis and detailed insights, you can read the report
<a href="/docs/2024/identity-verification.pdf" target="_blank" rel="noopener noreferrer">here</a>
and view the magic quadrant graphic
<a href="/docs/2024/identity-verification.png" target="_blank" rel="noopener noreferrer">here</a>.

| Market Status   | Market Vendor                                          |
| --------------- | ------------------------------------------------------ |
| `Leader`        | [Sumsub](/vendors/sumsub.md)                           |
| `Leader`        | [Socure](/vendors/socure.md)                           |
| `Leader`        | [Entrust](/vendors/entrust.md)                         |
| `Leader`        | [Jumio](/vendors/jumio.md)                             |
| `Leader`        | [Incode Technologies](/vendors/incode-technologies.md) |
| `Visionary`     | [Mitek Systems](/vendors/mitek-systems.md)             |
| `Visionary`     | [AU10TIX](/vendors/au10tix.md)                         |
| `Niche Player`  | [1Kosmos](/vendors/1kosmos.md)                         |
| `Niche Player`  | [GB Group](/vendors/gb-group.md)                       |
| `Niche Player`  | [ZOLOZ](/vendors/zoloz.md)                             |
| `Challenger`    | [Persona](/vendors/persona.md)                         |
